<div class="bg_base_lr" style="padding-top: 30px">
  <div class="container">
    <div class="row">
      <div class="col-sm-3" style="max-width:350px;"></div>
      <div class="col-sm-6" style="">
        <form name="form" [formGroup]="createCategoryForm" (ngSubmit)="createCategory()">
          <div class="form-group">
            <h3 style="text-align: center">Category</h3>
            <input type="text" class="form-control" formControlName="category" placeholder="Enter the category"/>
            <div class="alert alert-danger" role="alert"
                 *ngIf="createCategoryForm.get('category').invalid && createCategoryForm.get('category').touched">
              Danh mục không thể để trống
            </div>
          </div>

          <div class="alert alert-success" role="alert" *ngIf="isSuccess === true">
            Thêm danh mục thành công
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="isSuccess === false">
            Điền thông tin chưa đúng hoặc danh mục đã tồn tại
          </div>

          <div class="form-group" style="text-align: center">
            <div>
            </div>
            <button class="btn btn-primary" type="submit">Đăng ký</button>
          </div>
        </form>
      </div>
      <div class="col-sm-3" style="max-width:350px;"></div>
    </div>
  </div>
</div>
