<div class="bg_base_lr" style="padding-top: 30px">
  <div class="container">
    <div class="row">
      <div class="col-sm-2" style="max-width:350px;"></div>
      <div class="col-sm-8" style="">
        <form name="form" [formGroup]="createQuestionForm">
          <div class="form-group">
            <h3 style="text-align: center">Tạo câu hỏi</h3>
            <div class="alert alert-danger" role="alert" *ngIf="failMessage">
              <p>{{failMessage}}</p>
            </div>
            <h6>Danh mục câu hỏi :</h6>
            <select class="custom-select custom-select-sm" formControlName="category">
              <option *ngFor="let category of categories"
                      [value]="category.id">{{category.name}}</option>
            </select>
            <div class="alert alert-danger" role="alert"
                 *ngIf="createQuestionForm.get('category').invalid && createQuestionForm.get('category').touched">
              Danh mục không thể để trống.
            </div>
          </div>

          <div class="form-group">
            <h6>Loại câu hỏi :</h6>
            <select class="custom-select custom-select-sm" formControlName="kindOfQuestion"
                    (click)="kindOfQuestionForm($event.target.value)">
              <option *ngFor="let kindOfQuestion of kindOfQuestions"
                      [value]="kindOfQuestion.id">{{kindOfQuestion.name}}</option>
            </select>
            <div class="alert alert-danger" role="alert"
                 *ngIf="createQuestionForm.get('kindOfQuestion').invalid && createQuestionForm.get('kindOfQuestion').touched">
              Loại câu hỏi không thể để trống.
            </div>
          </div>

          <div class="form-group">
            <h6>Câu hỏi :</h6>
            <textarea type="text" class="form-control" formControlName="content"
                      placeholder="Enter the question"></textarea>
            <div class="alert alert-danger" role="alert"
                 *ngIf="createQuestionForm.get('content').invalid && createQuestionForm.get('content').touched">
              Câu hỏi không thể để trống.
            </div>
          </div>
          <h6>Câu trả lời :</h6>
          <div *ngFor="let answer of answers">
            <div>
              <label>
                <input [type]="[(choseClassifyQuestion)? 'radio' : 'checkbox']" name="correct" value="true">
              </label>
              <p>{{answer.content}}</p>
            </div>
          </div>

          <div class="container" *ngIf="isChoseKindOfQuestion">
            <div class="row">
              <form id="regForm" name="form" [formGroup]="createAnswerForm" (ngSubmit)="createQuestion()">
                <div class="form-group">
                  <label>
                      <textarea type="text" class="form-control" placeholder="Nhập vào câu trả lời"
                                formControlName="content"></textarea>
                  </label>
                </div>

                <div class="radio">
                  <label><input  type="radio" [attr.disabled]="(isChoseCorrectAnswer)? true : null" formControlName="correct" name="correct" value="{{true}}"> Câu trả lời
                    đúng</label>
                </div>
                <div class="radio">
                  <label><input type="radio" formControlName="correct" name="correct" value="{{false}}"> Câu trả lời
                    sai</label>
                </div>

                <div class="form-group">
                  <input type="submit" [disabled]="createAnswerForm.invalid" class="btn btn-primary" value="Tạo câu trả lời">
                </div>
              </form>
            </div>
          </div>

        </form>

        <div class="form-group">
          <input type="submit" (click)="createNewQuestion()" class="btn btn-primary" value="Tạo mới câu hỏi hoàn thành">
        </div>

      </div>
      <div class="col-sm-2" style="max-width:350px;"></div>
    </div>
  </div>
</div>
