<div class="container-fluid">
  <div class="row col-md-12 col-md-offset-2 custyle text-center">
    <table class="table table-striped custab">
      <thead>
      <tr>
        <th>Danh Mục Câu Hỏi</th>
        <th class="text-center">Sửa / Xóa</th>
      </tr>
      </thead>
      <tr *ngFor="let category of categories | paginate: {itemsPerPage: 5, currentPage:pageActual};index as i">
        <td>{{category.name}}</td>
        <td class="text-center">
          <a class="btn btn-light" [routerLink]="['/edit-category', category.id]"><em class="fa fa-pencil"></em></a>
          <button class="btn btn-danger" (click)="submitDeleteCategory(category.id)"><em class="fa fa-trash"></em></button>
        </td>
      </tr>
    </table>
    <div id="pagination" style="margin: 0 auto">
      <pagination-controls (pageChange)="pageActual = $event"
      ></pagination-controls>
    </div>
  </div>
</div>
