<div class="container-fluid" style = "height: auto">
  <app-header></app-header>
  <div class="rounded float-right">
    <div class="row" style="text-align: -webkit-center">
      <div class="col-md-12">
        <button class="btn btn-primary" style="background-color: #385998; border-color: #385998" (click)="facebooklogin()"> Facebook</button>
        <button class="btn btn-primary" style="background-color: #C63D2D; border-color: #C63D2D" (click)="googlelogin()"> Google</button>
      </div>
      <div class="col-md-12" style="text-align: -webkit-center">
        <div class="card" style="width: 20rem;margin: 20px 0 24px 0;text-align: -webkit-center" *ngIf="user.photoUrl">
          <img [src]="user.photoUrl" alt="image" style="">
        </div>
      </div>
    </div>
  </div>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>

