<div class="bg_base_lr" style="padding-top: 30px">
  <div class="container">
    <div class="row">
      <div class="col-sm-2" style="max-width:350px;"></div>
      <div class="col-sm-8" style="">
        <form name="form" [formGroup]="editQuestionForm">
          <div class="form-group">
            <h3 style="text-align: center">Tạo câu hỏi</h3>
            <div class="alert alert-danger" role="alert" *ngIf="failMessage">
              <p>{{failMessage}}</p>
            </div>
            <h6>Danh mục câu hỏi :</h6>
            <select class="custom-select custom-select-sm" formControlName="category" [value]="idCategory">
              <option *ngFor="let category of categories"
                      [value]="category.id">{{category.name}}</option>
            </select>
            <div class="alert alert-danger" role="alert"
                 *ngIf="editQuestionForm.get('category').invalid && editQuestionForm.get('category').touched">
              Danh mục không thể để trống.
            </div>
          </div>

          <div class="form-group">
            <h6>Loại câu hỏi :</h6>
            <select class="custom-select custom-select-sm" formControlName="kindOfQuestion">
              <option *ngFor="let kindOfQuestion of kindOfQuestions"
                      [value]="kindOfQuestion.id">{{kindOfQuestion.name}}</option>
            </select>
            <div class="alert alert-danger" role="alert"
                 *ngIf="editQuestionForm.get('kindOfQuestion').invalid && editQuestionForm.get('kindOfQuestion').touched">
              Loại câu hỏi không thể để trống.
            </div>
          </div>

          <div class="form-group">
            <h6>Câu hỏi :</h6>
            <textarea type="text" class="form-control" formControlName="content"
                      placeholder="Enter the question"></textarea>
            <div class="alert alert-danger" role="alert"
                 *ngIf="editQuestionForm.get('content').invalid && editQuestionForm.get('content').touched">
              Câu hỏi không thể để trống.
            </div>
          </div>

          <h6>Câu trả lời :</h6>
          <div class="input-group mb-3" *ngFor="let answer of answers">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input [type]="[(choseClassifyQuestion)? 'radio' : 'checkbox']" [attr.disabled]="true" aria-label="Checkbox for following text input">
              </div>
            </div>
            <ul class="list-group">
              <li class="list-group-item">{{answer.content}}</li>
            </ul>
          </div>

          <div class="form-group">
            <input type="submit" [disabled]="editQuestionForm.invalid" class="btn btn-primary" [value]="'Cập nhật'">
          </div>

        </form>

      </div>
      <div class="col-sm-2" style="max-width:350px;"></div>
    </div>
  </div>
</div>
